:root {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --acc-color: #3c9;
    font-size: xx-large;
}

body {
    margin: 0;
    background-color: #334;
}

::selection {
    background-color: rgba(51, 204, 153, 0.25);
}

*:focus { 
    box-shadow: 0 0 25px rgba(51, 204, 153, 1);
    outline: 0;
    transition: all 0.5s ease-out;
}