/* Основной стиль страницы */
.flows-main {
    color: #ddd;
    text-align: center;
    align-items: center;
    align-content: center;
}

/* Стили для выпадающего списка */
.flows-main select {
    border: 0;
    color: #334;
    background-color: #fff;
    font-size: large;
    border-radius: 10px;
    padding: 10px 25px;
    margin: 25px;
    cursor: pointer;
}

.flows-main select option:checked {
    background-color: #3c9;
    color: #fff;
}

.flows-main select option {
    background-color: #fff;
    color: #334;
}

/* Стили кнопок */
.flows-main button {
    border: 0;
    background-color: #fff;
    color: #334;
    font-size: large;border-radius: 10px;
        padding: 10px 25px;
    margin: 25px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.flows-main button:hover {
    background-color: #ddd;
}

.flows-main button:active {
    background-color: #3c9;
    color: #fff;
}

.flows-main button:disabled {
    background-color: #445;
    color: #ddd;
    cursor: not-allowed;
}
/* Стиль таблицы */
.flows-main table {
    width: 80vw;
    margin: 0 auto;
    font-size: medium;
    box-shadow: 0 0 25px rgba(51, 204, 153, 0.5);
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 25px;
    overflow: hidden;
}

.flows-main th, .flows-main td {
    padding: 5px 25px;
    text-align: left;
    border: 1px solid #ddd;
}

.flows-main th {
    text-align: center;
    color: #fff;
    background-color: #3c9;
}

.flows-main tr:nth-child(even) {
    background-color: #445;
}