header {
    background-color: #445;
    min-height: 100px;
    border-radius: 0 0 50px 50px;
    overflow: hidden;

    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

a {
    user-select: none;
    color: #ddd;
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
}

a:active {
    background-color: var(--acc-color);
}

a:hover {
    color: #fff;
    background-color: var(--acc-color);
    box-shadow: 0 0 25px rgba(51, 204, 153, 1);
    outline: 0;
    transition: all 0.5s ease-out;
}